* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    align-items: center;
    padding: 8px 50px 0px 50px;
    display:  flex;
    justify-content: space-between;
  }
  
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;


  }
  
  ul li a  {
    color: #C8AA5C;
    text-decoration: none;
  }
  
  ul li a:hover{
    padding: 4px;
    background: rgb(102, 96, 96);
    transition: .5s; 
  }
  .every{
   display: flex;
   gap: 30px;
    flex-direction: column;
  }
  .restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .restaurant img {
    max-height: 300px;
    width: 60%;
    /* margin-bottom: 5rem; */
    margin-left: 4rem;
    border-radius: 2.5%;
    
    
  }
  .restaurant button {
    height: 50px;
    background-color:white ;
    /* border: #C8AA5C; */
    color: #C8AA5C;
    /* padding: 12px 10px; */
    text-align: right;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    right: 20%;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 8rem;
    text-align: center;
  }
.jobs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
  .jobs img {
    
    max-height: 300px;
    width: 60%;
    margin-bottom: 5rem;
    margin-left: 4rem;
    border-radius: 2.5%;
  } 
  .jobs button{
    height: 50px;
    background-color:white ;
    color: #C8AA5C; 
    text-align: right;   
    display: inline-block;
    font-size: 16px;
    /* right: 20%;    */
    cursor: pointer;
    width: 8rem;
    text-align: center;

  }
  .footer{
    background-color: black;
    height:420px;
    display: flex;
    color: white; 
    justify-content: space-evenly;
  }
  .left-section{
    padding: 20px;
    margin-top: 3rem;
  }
  .contact .ts{
    display: flex;
    justify-content: column;
     
    }
    input .ts{
        padding: 5rem;
     margin: 15px;
    
    }
    
  .footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;
  }
  .footer-logo{
    width: 260px;
    height: 210px;
  }
  .middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }

