* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    align-items: center;
    padding: 8px 50px 0px 50px;
    display:  flex;
    justify-content: space-between;
  }
  
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  ul {
    display: flex;
    gap: 5rem;
  }
  
  ul li a  {
    color: #C8AA5C;
    text-decoration: none;
  }
  
  ul li a:hover{
    padding: 4px;
    background: rgb(102, 96, 96);
    transition: .5s; 
  }
  .cart{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin: 10% 0 10% 0;
}
.para{
    display: flex;
    justify-content: center;
}
.para {
    display: flex;
    justify-content: column;
    align-items: center;

}
button{
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
   
}
  .footer{
    background-color: black;
    height:420px;
    display: flex;
    color: white; 
    justify-content: space-evenly;
  }
  .left-section{
    padding: 20px;
    margin-top: 3rem;
  }
  .footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;
  }
  .footer-logo{
    width: 260px;
    height: 210px;
  }
  .middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-section{
    display: flex;
    align-items: row;
    justify-content:space-around;
  }  