* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    align-items: center;
    padding: 8px 50px 0px 50px;
    display:  flex;
    justify-content: space-between;
  }
  
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  ul {
    display: flex;
    gap: 5rem;
  }
  
  ul li a  {
    color: #C8AA5C;
    text-decoration: none;
  }
  
  ul li a:hover{
    padding: 4px;
    background: rgb(102, 96, 96);
    transition: .5s; 
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    justify-content: space-evenly;
  }
  .contact img {
    border-radius: 0.3rem;
    width: 30%;
    height: 25rem;
    object-fit:fill;
    
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .info .input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .info .input input{
    width: 15rem;
    padding: 0.4rem;
  }

  .info .input textarea {
    /* padding: 0.3rem;
    max-width: 15rem;
    max-height: 5rem; */
  }

  .footer{
    background-color: black;
    height:420px;
    display: flex;
    color: white; 
    justify-content: space-evenly;
  }
  .left-section{
    padding: 20px;
    margin-top: 3rem;
  }
  .contact .ts{
    display: flex;
    justify-content: column;
     
    }
    input .ts{
        padding: 5rem;
     margin: 15px;
    
    }
    
  .footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;
  }
  .footer-logo{
    width: 260px;
    height: 210px;
  }
  .middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
