* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    align-items: center;
    padding: 8px 50px 0px 50px;
    display:  flex;
    justify-content: space-between;
  }
  
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;

    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */

  }
  
  ul li a  {
    color: #C8AA5C;
    text-decoration: none;
  }
  
  ul li a:hover{
    padding: 4px;
    background: rgb(102, 96, 96);
    transition: .5s; 
  }
  .h1{
    display: flex;
    justify-content: left;
    margin-left: 10%;
  }
  .contact {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 4rem 0;
    justify-content: space-evenly;
    margin-bottom: -50px;
  }
  .contact img {
    border-radius: 0.3rem;
    width: 30%;
    height: 25rem;
    object-fit:fill;
    
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
  }
  .info .input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
  }

  .info .input input{
    width: 30rem;
    padding: 0.6rem;
     text-align: left;
  }

  /* .info .input textarea {
    padding: 0.3rem;
   width : 244px ;
   height : 112px;
  } */
  .info .button{
    /* display: flex;
    justify-content: center;
    margin bottom: 7rem;
    .left-section : 50%: */
    background-color:#C8AA5C ;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .footer{
    background-color: black;
    height:420px;
    display: flex;
    color: white; 
    justify-content: space-evenly;
  }
  .left-section{
    padding: 20px;
    margin-top: 3rem;
  }
  .contact .ts{
    display: flex;
    justify-content: column;
     
    }
    input .ts{
        padding: 5rem;
     margin: 15px;
    
    }
    
  .footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;
  }
  .footer-logo{
    width: 260px;
    height: 210px;
  }
  .middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }