* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  align-items: center;
  padding: 8px 50px 0px 50px;
  display:  flex;
  justify-content: space-between;
}

.logo img{
  width: 60px;
  height: 60px;
}

ul {
  display: flex;
  gap: 5rem;
}

ul li a  {
  color: #C8AA5C;
  text-decoration: none;
}

ul li a:hover{
  padding: 4px;
  background: rgb(102, 96, 96);
  transition: .5s; 
}

.menu {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  text-align: center;
  width: 8%;
  padding: 0.5rem;
  color: white;
  background-color: #C8AA5C;
  border-radius: 0.3rem;
}
.parent{
  display: flex;
  flex-direction: column;
}

.parent .content {
  margin: 5rem 7rem;
  display: flex;
  justify-content: space-around  ;
}

.parent .image{
  width: 40%;
  height: 15rem;
  border-radius: 0.3rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ingrediants {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content button {
  padding: 0.4rem;
  background-color: transparent;
  border: solid 1.5px #ffb700;
  border-radius: 0.3rem;
}
.footer{
  background-color: black;
  height:420px;
  display: flex;
  color: white; 
  justify-content: space-evenly;
}
.left-section{
  padding: 20px;
  margin-top: 3rem;
}
.footer-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top:1rem;
}
.footer-logo{
  width: 260px;
  height: 210px;
}
.middle-section{
  display: flex;
  justify-content: center;
  align-items: center;
}








/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      padding: 30px 10%;
    border-color: ;
    border-bottom: 0px;
    background-color: white;

  }
  
   label .logo{
      display: flex;
      justify-content: left;
    width: 100px;
    height: auto;
    margin-left: 0px;
  }

  .navBar{
      display: flex;
      justify-content: space-between;
      background-color: white;
      height: 87px;
        padding: 70px;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
    background: #FFF;
    height: 80px;
    width: 100%;  line-height: 80px;
      align-items: center;
      justify-content: space-between;
      gap: 36px;
      margin-right: 100px;
  }
  
  nav ul li a{
    color: #C8AA5C ;
    font-size: 17px;
    padding: 7px 13px
  }
  black
  a.active,a:hover{
  
    background: rgb(102, 96, 96);
    transition: .5s;
    
  }

  .menu {
    background-color: black;
  }
  .menu h2 {
    color: black;
  } */